<?xml version="1.0"?>
<root>
	<Assembly id="Ptrv41">
		<Anno id="Reference" group="Basic">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\hg19.fa</Path>
			<Default>dense</Default>
			<Format>REF</Format>
		</Anno>
		<Anno id="cytoBand" group="Basic">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\cytoBand.hg19.txt</Path>
			<Default>dense</Default>
			<Format>CYTO</Format>
		</Anno>
		<Anno id="HeteV" group="Variant">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\dbsnp_CEU\21-1409-CEU.vcf.gz</Path>
			<Default>hide</Default>
			<Format>VCF</Format>
		</Anno>
		<Anno id="Genes" group="Basic">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\hgnc.hg19.sorted.txt</Path>
			<Default>hide</Default>
			<Format>HGNC</Format>
		</Anno>
		<Anno id="PtrGene" group="Gene">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\refGene.hg19.sorted.anno.gz</Path>
			<Default>pack</Default>
			<Format>BEDGZ</Format>
		</Anno>
		<Anno id="TFBS" group="Regulation">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\knownGene.hg19.sorted.anno.gz</Path>
			<Default>dense</Default>
			<Format>BEDGZ</Format>
		</Anno>
		<Anno id="TFBSinProm" group="Regulation">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\ensGene.hg19.sorted.anno.gz</Path>
			<Default>dense</Default>
			<Format>BEDGZ</Format>
		</Anno>
		<Anno id="miRNA" group="Regulation">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\Regulation.hg19.sorted.grf.gz</Path>
			<Default>hide</Default>
			<Format>GFF</Format>
		</Anno>
		<Anno id="OMIM" group="Disease">
			<Path>C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\OMIM.hg19.sorted.gdf.gz</Path>
			<Default>pack</Default>
			<Format>GFF</Format>
		</Anno>
		<Anno id="dbSNP_CEU" group="dbSNP">
			<Path key="chr21">C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\dbsnp_CEU\21-1409-CEU.vcf.gz</Path>
			<Path key="chr22">C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\dbsnp_CEU\22-1409-CEU.vcf.gz</Path>
			<Default>pack</Default>
			<Format>VCF</Format>
		</Anno>
		<Anno id="1000genome_CEU" group="Personal Genome">
			<Path key="chr21">C:\workspace\apache-tomcat-9.0.27\webapps\pgbdata\hg19\personal_genome_demo\NA12716.chr21.vcf.gz</Path>
			<Default>hide</Default>
			<Format>VCF</Format>
		</Anno>
	</Assembly>
</root>
