<?xml version="1.0"?>
<root>
	<Assembly id="Ptrv41">
		<Anno id="Reference" group="Basic">
			<Path>Ptrv40.fa</Path>
			<Default>dense</Default>
			<Format>REF</Format>
		</Anno>
		<Anno id="cytoBand" group="Basic">
			<Path>cytoband.Ptrv41.txt</Path>
			<Default>dense</Default>
			<Format>CYTO</Format>
		</Anno>
		<Anno id="HeteV" group="Basic">
			<Path>aln.sorted_v0.vcf.gz</Path>
			<Default>hide</Default>
			<Format>VCF</Format>
		</Anno>
		<Anno id="Genes" group="Basic">
			<Path>GENES.Ptrv41.sorted.txt</Path>
			<Default>hide</Default>
			<Format>PGENES</Format>
		</Anno>
		<Anno id="PtrGene" group="Gene">
			<Path>Ptrichocarpa_533_v4.1.gene_exons.gff3.sort.bed.gz</Path>
			<Default>pack</Default>
			<Format>BEDGZ</Format>
		</Anno>
		<Anno id="ConservedEle" group="Regulation">
			<Path>TFBS_from_motif_CE_genome-wide_Ptr.gff.gz</Path>
			<Default>hide</Default>
			<Format>GFF</Format>
		</Anno>
		<Anno id="TFBS" group="Regulation">
			<Path>TFBS_from_FunTFBS_genome-wide_Ptr.gff.gz</Path>
			<Default>hide</Default>
			<Format>GFF</Format>
		</Anno>
		<Anno id="miRNA" group="Regulation">
			<Path>Populus_trichocarpa.miRNA.gff3.gz</Path>
			<Default>hide</Default>
			<Format>GFF</Format>
		</Anno>
		<Anno id="SNP" group="Variant">
			<Path>aln.sorted_v0.vcf.gz</Path>
			<Default>pack</Default>
			<Format>VCF</Format>
		</Anno>
	</Assembly>
</root>
