<?xml version="1.0"?>
<root>
	<Assembly id="Ptrv41">
		<Anno id="Reference" group="Basic">
			<Path>C:\workspace\ptrv41\Ptrichocarpa_533_v4.0.fa</Path>
			<Default>dense</Default>
			<Format>REF</Format>
		</Anno>
		<Anno id="cytoBand" group="Basic">
			<Path>C:\workspace\ptrv41\cytoband.Ptrv41.txt</Path>
			<Default>dense</Default>
			<Format>CYTO</Format>
		</Anno>
		<Anno id="SNP" group="Basic">
			<Path>C:\workspace\ptrv41\aln.sorted_v0.vcf.gz</Path>
			<Default>hide</Default>
			<Format>VCF</Format>
		</Anno>
		<Anno id="Genes" group="Basic">
			<Path>C:\workspace\ptrv41\GENES.Ptrv41.sorted.txt</Path>
			<Default>hide</Default>
			<Format>PGENES</Format>
		</Anno>
		<Anno id="PtrGene" group="Gene">
			<Path>C:\workspace\ptrv41\Ptrichocarpa_533_v4.1.gene_exons.gff3.sort.bed.gz</Path>
			<Default>pack</Default>
			<Format>BEDGZ</Format>
		</Anno>
		<Anno id="HeteV" group="Variant">
			<Path>C:\workspace\ptrv41\aln.sorted_v0.vcf.gz</Path>
			<Default>pack</Default>
			<Format>VCF</Format>
		</Anno>
	</Assembly>
</root>
