@charset "utf-8";
.move{
	float:right;
	width:45%;
	height:50px;
	margin-top:8px;
	margin-right:1%;
}
.size{
	height:40px;
	width:250px;
	margin-top:20px;
	border:2px solid  #666;
	background: #FFF;
	box-sizing: border-box;
	float:left;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	box-shadow:1px 1px 1px #000000 inset,1px 1px 5px #000000 ;
}

.scroll{
	width: 90%;
	height: 15px;
	background: #ccc;
	position: relative;
	margin-top:10px;
	margin-left:10px;
}
.bar{
	width: 10px;
	height: 30px;
	background: #222;
	position: absolute;
	top: -7px;
	left: 0;
	cursor: pointer;
}
.mask{
	left: 0;
	margin: 0px;
	background: #4B9696;
	width: 0;
	height: 15px;
}
#zoom{
	float:left;
	text-align:center;
	width: 8%;
	height:30px;
	line-height:25px;
	margin-top:8px;
	padding-top:5px;
	border:none;
	font-size:14px;
}
.movebutton{
	font-size:20px;
	width: 6.5%;
	height:50px;
	margin-top:0px;
	margin-left:5px;
	float:left;
	border:none;
	background:#FFF;
	border:none;
	cursor:pointer;
}
.movebutton:active{
	background:#F8F8F8;
}
#move1{
	
	background-image:url(../images/zoom-10.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;	
	
}
#move1:hover{

	border:none;
	background-image:url(../images/zoom-10+.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#move2{
	background-image:url(../images/zoom-5.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#move2:hover{
	
	background-image:url(../images/zoom-5+.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#move3{
	background-image:url(../images/zoom5.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;	
}
#move3:hover{

	border:none;
	background-image:url(../images/zoom5+.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;	
}
#move4{
	margin-right:3%;
	
	background-image:url(../images/zoom10.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#move4:hover{
	margin-right:3%;
	border:none;
	background-image:url(../images/zoom10+.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#left{
	background-image: url(../images/page__left.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#left:hover{
	background-image: url(../images/page__left1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#right{
	background-image: url(../images/page__right.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#right:hover{
	background-image: url(../images/page__right1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#left1{
	background-image: url(../images/page_turning_left.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#left1:hover{
	background-image:url(../images/page_turning_left1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#right1{
	margin-left:5px;
	background-image: url(../images/page_turning_right.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#right1:hover{
	background-image:url(../images/page_turning_right1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#left2{
	background-image: url(../images/pageleft.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#left2:hover{
	background-image: url(../images/pageleft1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#right2{
	background-image: url(../images/pageright.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;
}
#right2:hover{
	background-image: url(../images/pageright1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: 
	cover;
	background-position: center 0;	
}
#select{
	width: 80%;
	height:50px;
	border: 1px solid #000;
	margin-left:10%;
	margin-top:20px;;
}

.displayItemsDiv{
	border:1px solid #000;
}
.canvasc{
	position: relative;
    min-height:50px;
	
    border:none;
    display:block;
	width:100%;
}

 
#cv{
 height:200px;
 width:100%;
 border:none;
 border:1px solid #aaa;
 margin:0;
 display:block;
 }

#chrdiv{
	position:absolute;
	width:150px;
	height:30px;
	margin-left:25px;
	margin-top:6px;
	font-family:Century;
	font-size:13px;
}
 
.whxdiv{
	margin-bottom:10px;
	border:1px solid #E1E1E1;
	background:#FBFDFF;
	font-family:Georgia;
}
.whxdiv:hover{
	background-color:#C7EAFE
}
.whxdiv:hover .whxdelete{
	background-color:#C7EAFE
}
.whxdelete{
	position:absolute;
	height:20px;
	width:20px;
	margin-left:3px;
	margin-top:5px;
	border:none;
	border-radius:0px;
	background-color:#FBFDFF;
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
	cursor:pointer;	
}
.whxdelete:hover{
	background-image: url(../images/delete1.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
	background-color:#FDFDFD;
}
.whxdelete:focus{
	outline:none;
}
.pic_div{
	position:absolute;
	width:150px;
	height:30px;
	margin-left:25px;
	margin-top:6px;
	font-family:Century;
	font-size:13px;
}
.pic_hover{
   background-color:#C7EAFE;
   color:#ed5126;
}
.description{
	position:absolute;
	width:150px;
	height:30px;
	margin-left:25px;
	margin-top:35px;
	font-family:Century;
	font-size:13px;
	border:none;
}