.button{
	width:30.4%;
	height:35px;
	margin-top:15px;
	margin-right:1%;
	text-decoration:none;
	border:1px solid #000;
	background:#FFF;
}
#bottom{
	position:fixed;
	background:#FFF;
	float:left;
	margin:0px;
	left:50px;
	bottom:25%;
	width:6%;
	height:500px;
	border:1px solid #FDFFFF;
	border-radius:5px;
}
.floatbutton{
	font-size:20px;
	color:#000;
	border:1px solid #A7A7A7;
	width:60%;
	margin-left:20%;	
	height:30px;
	margin-bottom:5px;
	border-radius:2px;
	background:none;
}
.floatbutton:hover{
	font-size:24px;
	color:#309F7E;
	border: 1px solid #309F7E;
}

#hidebutton{
	float:right;
	margin-top:75px;
	margin-right:35%;
	border-radius:5px;
	font-size:24px;
	background:#FFF;
	border:1px solid #FDFFFF;	
	width:30%;
	height:30px;
}
#hidebutton:hover{
	color:#ed5126;
	font-size:26px;	
}
#hidebutton:focus{outline:0;}

.genebutton{
	border:none;
	width:40px;
	height:12px;
	position:absolute;
	background:none;
	cursor:pointer;
	outline:none;
}
.ggenebutton:hover{
	background:#EFEFEF;
	opacity:0.5;
}
.fgenebutton{
	border:none;
	background:#FFF;
	height:40px;
	margin-bottom:3px;
	width:100%;
	text-align:left;
	font-family:Century;
	font-size:12px;
}
.fgenebutton:hover{
	color:#309F7E;	
	background:#F3F3F3;
}

.detail{
	width:250px;
	height:200px;
	background:#FFF;
	position:absolute;
	z-index:9999;
	border:1px solid #4E4E4E; 
	
}
.textdetail{
	border-top:1px solid #000;
	width:250px;
	height:177px;
	margin-top:3px;
	position:absolute;
	
	overflow:scroll;
	overflow-x:hidden;
}
.textdetail::-webkit-scrollbar{
  width: 20px;
  height: 5px;
  background-color: #F5F5F5;
}
.textdetail::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.detailbtn{
	width:20px;
	height:20px;
	position:absolute;
	border:none;
	background-color: #F5F5F5;
	top:0px;
	right:0px;
	background-image: url(../images/delete.png);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
	cursor:pointer;
}
.detailli{
	list-style-type:none;
	margin-left:5px;
	font-family:century;
	font-size:10px;
}
#cover1{
  position:absolute;
  z-index:9998;
  background-color:none;
  display:none;
}
.positiondiv{
	position:absolute;
	top:33px;	
	display:none;
	width:100px;
	height:30px;
	font-family:century;
	font-size:14px;
}
.fgeneonmouse{
	border:1px solid #B2B2B2;
	background-color:#FFF;
	width:400px;
	height:220px;
	position:absolute;
	margin-top:-3.5px;
	z-index:10;
	display:none;

	overflow:scroll;
	overflow-x:hidden;
}
.ggenedivcss{
	margin-Top:3px;
	margin-Left:5px;
	font-Size:14px;
	font-Family:century;
	height:15px;
	list-style-type:none; 
}

.ggenedivcss::-webkit-scrollbar{
  width: 20px;
  height: 5px;
  background-color: #F5F5F5;
}
.ggenedivcss::-webkit-scrollbar-thumb{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.ggloading{
	background-color:#FFF;
	
	width:70px;
	height:70px;
	margin-top:75px;
	margin-left:165px;
	
	background-image:url(../images/load.gif);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;	
}

.uploading{
	border:none;
	width:400px;
	height:220px;
	position:absolute;
	margin-top:50px;
	z-index:10;
	display:none;
}
.uploading1{
	background-color:none;
	width:70px;
	height:70px;
	margin-top:75px;
	margin-left:140px;
	background-image:url(../images/load.gif);
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;-o-background-size: cover;
	background-position: center 0;	
}
#cover2{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:9;
  background:#D8D8D8;
  opacity:0.4;
  display:none;
}

#cover3{
  position:fixed;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index:9;
  background:none;
  display:none;
}
#sediv{
	border:1px solid #000;
	width:1500px;
	height:100px;;
	position:absolute;
	background-color:none;
	opacity:0.5;
	z-index:10;
	display:none;	
}
.outerdiv{
	float:right;
	width:1313px;
	overflow:hidden;
	border-left:1px solid #D9D9D9;
}
.innerdiv{
	position:relative;
	width:200%;
	margin: 0 -50%;
}
.outercanvas{
	width:100%;
}

.leaf{
	cursor: pointer; 
}
.leafbutton{
	border:1px solid #000;
	height:10px;
	width:20px;	
}